<div class="container-fluid">
<form [formGroup]="registerForm" (ngSubmit)="onsubmit()">
  <div class="form-group">
      <label>FirstName</label>
      <input type="txt" required class='form-control' name="fname" formControlName="firstname" [ngClass]="{'is-invalid':submit && f.firstname.errors}">
      <div *ngIf="submit &&  f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required">First Name is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>LastName</label>
      <input type="txt" class='form-control' name="lname" formControlName="lastname" [ngClass]="{'is-invalid':submit && f.lastname.errors}">
       <div *ngIf="submit &&  f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>Email</label>
      <input type="email" class='form-control' name="email" formControlName="email"  [ngClass]="{'is-invalid':submit && f.email.errors}">
      <div *ngIf="submit &&  f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
         <div *ngIf="f.email.errors.email">Email is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>Password</label>
      <input type="password" class='form-control' name="pword" formControlName="password" [ngClass]="{'is-invalid':submit && f.password.errors}">
      <div *ngIf="submit &&  f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
         <div *ngIf="f.password.errors.minLength">Password should be of atleast 6 characters</div>
      </div>
  </div>
  <div class="form-group">
      <label>Confirm Password</label>
      <input type="txt" class='form-control' name="confirmp" formControlName="confirmPassword" [ngClass]="{'is-invalid':submit && f.confirmPassword.errors}" >
      <div *ngIf="submit &&  f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
  </div>

<div class="form-group">
  <button class="btn btn-primary">Register</button>
</div>

</form>
</div>